extends ../common/layout/layout

block content
  .mainbody
    .container.about
      .row
        .col-md-10.col-md-offset-1
          .panel.panel-default
            .panel-heading.heading-black
              h3.panel-title.font-size-20.about-title 关于本站
            .panel-body.indent-p
              div
                hr
                h4 网站简介
                p.line-height-30 　　本站未使用相关建站模板，均由个人开发，尚有诸多不足之处。前台UI框架使用 bootstrap，模板引擎使用 jade，工具类库使用 jquery，并使用渐进式 MVVM 框架 vue.js，不过使用尚浅。数据库为 mongodb，使用 mongoose 操作数据库，服务器为阿里云服务器 ECS，Windows Server 2012 R2 数据中心版 64位中文版，nodejs 启动服务器，域名 www.81lion.com，购买自阿里万网，备案编号 闽ICP备17002918号-1。
              div
                hr
                h4 博客初衷
                p 想通过自己所学的东西做一个属于自己的东西
                p 记录自己的生活和学习
              div
                hr
                h4 联系方式
                p ciwei_c@163.com
                p
                  img.size100.inlineblock.radius10.img-thumbnail.img-responsive.about-wexin(src="public/image/wexin.png")
                p 不足之处，望不吝赐教！
              div.clearfix
                hr
                h4 个人相关
                p 本站的定位是一个博客，将主要记录本人的学习和工作。
                p 前端是个坑，越学坑越深，本人在前端路上还是一个小学生，希望能够越走越远。
                hr
                .col-md-4.col-sm-4.person
                  .panel.panel-transparent
                    ul.ul-col.ul-col-2
                      li
                        a.qq.a.fa.fa-qq.fa-2x(v-bind:href="href" title="309491435" data-toggle="tooltip" @click="onQQClick")
                      li
                        a.a.fa.fa-github.fa-2x(href="https://github.com/ciwei-c" target="_blank")
  script(src="public/js/about.js")