extends ../common/layout/layout

block content
  .mainbody
    .container.about
      .row
        .col-md-8
          .panel.panel-default
            .panel-heading.heading-black
              h3.panel-title 关于
            .panel-body.indent-p
              div
                h4 简介
                p 前台：
                p --boopstrap
                p --jquery
                p --vue.js
                p --jade
                p 后台：
                p --node.js/express
                p --mongodb/mongoose
                p 其他：
                p --moment.js
                p --summernote.js
                p --font-awesome等
              div
                hr
                h4 博客初衷
                p 想通过自己所学的东西做一个属于自己的东西
                p 记录自己的生活和学习
              div
                hr
                h4
                pre just do it
        .col-md-4#sidebar
          .panel.panel-default
            .panel-heading.heading-black
              h3.panel-title 个人
            .panel-body
              .clearfix
                .col-md-4.col-sm-4.col-xs-4
                  img.inlineblock.radius10.img-thumbnail.img-responsive(src="public/image/c.png")
                .col-md-8.col-sm-8.col-xs-8
                  p 这家伙很懒，懒得想这里写什么。
                  p ciwei_c@163.com
              hr
              ul.ul-col.ul-col-2
                li
                  a.a.fa.fa-weibo.fa-2x(href="https://weibo.com/" target="_blank")
                li
                  a.a.fa.fa-github.fa-2x(href="https://github.com/ciwei-c" target="_blank")
          .panel.panel-default
            .panel-heading.heading-black
              h3.panel-title 文章
            ul.list-group.articul(v-cloak)
              li.list-group-item(v-if="listItems" v-for="item in listItems")
                a(v-bind:href="'artic?'+item._id") {{item.title}}
              li.padding-16(v-else) 没有发表文章
            a.padding-10.inlineblock.indent5(href="artics") 查看更多
  script(src="public/js/about.js")