extends ../common/layout/layout

block content
  .container
    .row
      .col-md-10.hr.col-md-offset-1
        ol.breadcrumb.breadcrumbNav(v-cloak)
          li
            a(href="artics") 全部
          li
            a(v-bind:href="'artics?type='+upSortType") {{upSort}}
          li.active {{nowArtic}}
        hr
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-body
            .artic-wrap(v-cloak)
              .artic-header
                h3 {{item.title}}
                  .right.font-size-14.line-height-26
                    span.fa.fa-user-o.margin-right-16   
                      a(v-bind:href="'/about'")   {{item.author}}
                    span.fa.fa-clock-o.margin-right-16    {{item.creatAt}}
                    span.margin-right-16   阅读({{item.pv}})
                hr
                .artic-body(v-html="item.content")
                hr
                .artic-footer.padding-left-16.padding-right-16
                  ul.ul
                    li.previous.font-size-14(v-if="prevArtic._id") 上一篇：
                      a(v-bind:href="'artic?'+prevArtic._id") {{prevArtic.title}}
                    li.next.font-size-14(v-if="nextArtic._id") 下一篇：
                      a(v-bind:href="'artic?'+nextArtic._id") {{nextArtic.title}}

    .row
      .col-md-10.col-md-offset-1
        .panel.panel-info.comment-wrap(v-cloak)
          .panel-heading
            h4.panel-title 全部评论
              span ({{count}})
          .panel-body
            ul.ul
              .loading.none.text-center
                img(src="public/image/loading.gif")
              li.clearfix.margin-bottom-16(v-if="listItems" v-for="(item,index) in listItems" v-bind:commentid="item._id")
                hr
                .text-center.inlineblock.col-md-2.col-sm-2.margin-bottom-16
                  img.size60.img-responsive.img-thumbnail(v-bind:src="item.fromUser.logo")
                  .font-size-12 {{item.fromUser.nickName}}
                .col-md-10.col-sm-10
                  .clearfix
                    p.minwidth(v-html="item.content")
                    .right
                      span {{item.floorIndex}}楼 |
                      span  {{item.creatAt}} |
                      a.a(v-bind:toUser="item.fromUser._id" v-bind:c-index="index" v-bind:href="href" @click="onShowReplyInput")  回复({{item.reply.length}})
                    form(v-if="item.ifReply")
                      textarea.form-control.noresize.margin-bottom-16(v-model="replyText" rows=4)
                      a.btn.btn-primary(@click="onReply") 发表
                      a.btn.btn-primary.margin-left-16(@click="onClearIfReply") 取消
                  ul.ul.clearfix(v-if="item.reply.length")
                    li.clearfix(v-for="(_item,index) in item.reply")
                      hr
                      .left
                        img.size40.hidden-xs.img-responsive.img-thumbnail(v-bind:src="_item.fromUser.logo")
                      .col-md-10.col-sm-10
                        div
                          span {{_item.fromUser.nickName}} 回复 {{_item.toUser.nickName}} : 
                          span(v-html="_item.content")
                        .right
                          span {{_item.creatAt}} | 
                          a.a(v-bind:href="href" v-bind:toUser="_item.fromUser._id" @click="onShowReplyInput" v-bind:c-index="_item.cindex" v-bind:r-index="index") 回复
                        form(v-if="_item.ifReply")
                          textarea.form-control.noresize.margin-bottom-16(v-model="replyText" rows=4)
                          a.btn.btn-primary(@click="onReply") 发表
                          a.btn.btn-primary.margin-left-16(@click="onClearIfReply") 取消
              .padding-16(v-else) 暂未有评论
            .text-center
              ul.pagination.comment-page-ul(v-if="pageLists")
                li(v-for="(item,index) in pageLists" v-bind:class="{active:item.isActive}")
                  a(v-bind:href="href" v-bind:page="index+1" @click="onPageClick") {{index+1}}
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-info
          .panel-heading
            h4.panel-title 发表评论
          .panel-body
            form
              .row.send-commont-wrap(v-cloak)
                if user
                  .text-center.inlineblock.col-md-2.col-sm-2.col-xs-3
                    img.img-responsive.img-thumbnail(src="#{user.logo}")
                    .user-info.font-size-12(userId="#{user._id}") #{user.nickName}
                    div
                      a.nowrap.font-size-12.a(@click="onLogout" href="javascript:") 注销
                  .col-md-10.col-sm-10.col-xs-9
                    textarea.form-control.noresize.margin-bottom-16(v-model="commentText" placeholder="快发表你的见解吧" rows=5)
                    a.btn.btn-primary(@click="onComment") 发表
                    .alert.alert-danger.margin-top-16.none.comment-alert
                else
                  ul.nav.nav-tabs.margin-left-16
                    li.active
                     a(data-toggle="tab" href="#login") 已登陆过
                    li
                     a(data-toggle="tab" href="#register") 未登陆过
                  .tab-content.padding-top-16
                    .tab-pane.fade-in.active#login
                      .col-md-6.col-sm-6.login-wrap
                        .form-group(v-bind:class="loginErr.errClass" v-on:input="onClearLoginErrInfo")
                          .input-group
                            .input-group-addon
                              span.fa.fa-envelope
                            input.form-control(v-model="userLoginEmail" placeholder="请输入邮箱")
                        a.btn.btn-primary(@click="onLogin") 确定
                        .alert.alert-danger.margin-top-16(v-if="loginEmailAlert") {{loginErr.info}}
                    .tab-pane.fade-in#register
                      .col-md-6.col-sm-6.login-wrap
                        .form-group.register-logo.relative
                          img.size80.img-thumbnail.user-logo(src="public/image/user.jpg")
                          input.absolute.pleft.ptop.opacity0.size80(@change="onHeadPick" type="file" name="user-logo")
                        .form-group(v-bind:class="registerErr.nickErrClass")
                          .input-group
                            .input-group-addon
                              span.fa.fa-user-circle-o
                            input.form-control(@input="onClearRegErrInfo1" v-model="userNickname" placeholder="起个昵称吧")
                        .form-group(v-bind:class="registerErr.emailErrClass")
                          .input-group
                            .input-group-addon
                              span.fa.fa-envelope
                            input.form-control(@input="onClearRegErrInfo2" v-model="userEmail" placeholder="请输入邮箱")
                        a.btn.btn-primary(@click="onRegister") 确定
                        .alert.alert-danger.margin-top-16(v-if="registerAlert") {{registerErr.info}}
  script(src="public/js/artic.js")