extends ../common/layout/layout

block content
  .container
    .row.margin-bottom-16.col-md-4.col-lg-4
      .input-group.searchbox
        input.text.form-control(v-model="search" placeholder="搜索文章标题")
        div.input-group-btn
          a.btn.btn-black(@click="onSearch" href="#searchresult" data-toggle="modal" data-backdrop="static") 搜索
    .modal.fade#searchresult
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title 搜索文章列表
              span.close(data-dismiss="modal") &times
          .modal-body(v-cloak)
            ul.ul
              li(v-if="noSearch") 请输入查询条件
              li(v-else-if="listItems.length == 0") 未找到查询结果
              li.margin-bottom-16(v-else-if="listItems.length>0" v-for="item in listItems")
                a(v-bind:href="'artic?'+item._id") {{item.title}}  (分类：{{type[item.type]}})
                hr
    .row
      .col-md-9.visible-xs-block
        .panel.panel-black.cursor.text-center.classifycollapse(data-target="#navtab" data-toggle="collapse" @click="onClassifyClick" v-cloak)
          .panel-heading
            span.a.fa.ccc(v-bind:class="classObject")  {{label}}
    .row
      .col-md-9
        .navbar-collapse.collapse#navtab
          .nav.nav-tabs.nav-justified.navtab.margin-bottom-16(v-cloak)
            li(v-for="(item,index) in listItems" @click="onNavClick" v-bind:class="{active:item.isActive}")
              a(v-bind:href="href" v-bind:tabindex="index").tab9d {{item.type}}
                span.badge.margin-left-10 {{item.count}}
      .col-md-1.col-md-offset-1
          a.block.hidden-sm.hidden-xs(href="about")
            img.img-thumbnail.img-responsive(src="public/image/c.png")
    .row
      .col-md-9 
        .panel
          .panel-body
            ul.list-group.articul-list.margin-top-16(v-cloak)
              .loading.none.text-center
                img(src="public/image/loading.gif")
              li.clearfix.padding-bottom-10.border-radius-5(v-if="listItems.length" v-for="(item,index) in listItems" v-bind:class="{'listbg':item.isOdd}")
                .padding-left-10.padding-right-10
                  a(v-bind:href="'artic?'+item._id") {{item.title}}
                  .right
                    span.fa.fa-user-o.margin-right-16  ciwei_c
                    span.fa.fa-clock-o  {{item.creatAt}}
              li.padding-16(v-else) 该分类未发表文章
          .text-center
            ul.pagination.margin-center.artics-page-ul(v-cloak)
              li(v-if="listItems" v-for="(item,index) in listItems" v-bind:class="{active:item.isActive}" @click="onPageClick")
                a(v-bind:href="href" v-bind:page="index+1") {{index+1}}
  script(src="public/js/artics.js")
      