extends ../common/layout/layout

block content
  .intro-header#intro
    .intro-messeage.bannerpadding.banner.text-center
      h3.white Welcome to here 
      hr.intro-divider
  .container
      .row
        .col-md-9.col-sm-9.margin-top-16
          .panel.panel-default.index-panel
            .panel-heading
              h3.panel-title 文章
            ul.list-group.articul-index.li-hover(v-cloak)
              li.list-group-item(v-if="listItems" v-for="(item,index) in listItems")
                h3 {{item.title}}
                  .right.line-height-26.font-size-14
                    span {{item.creatAt}}
                hr
                .artic-item(v-html="item.content")
                .margin-top-10.clearfix
                  span.left.font-size-18 ...
                  a.right(v-bind:href="'artic?' + item._id") 查看详情
              li.padding-16(v-else) 还没有发表文章
          .text-center.margin-bottom-16
            hr
            a(href="artics") 查看全部文章
        .col-md-3.col-sm-3.margin-top-16
          .panel.panel-default
            .panel-heading
              h3.panel-title 待定
            .panel-body
              a.btn.btn-primary.getTest get测试
  script(src="public/js/index.js")